/* Import Google Fonts */
/* Display Font - Serif */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: 'Libre Baskerville', serif; */

/* Primary Text Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

/* 400, 600, 800 */
/* font-family: 'Montserrat', sans-serif; */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

.capitalize {
  text-transform: capitalize;
}

.btn-icon {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid rgba(80, 45, 92, 0.5);
  display: inline-flex;
  font-size: smaller;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s ease;
  background-color: white;
}

.btn-icon:hover {
  background-color: rgba(153, 132, 203, 0.1);
  border: 1px solid rgba(80, 45, 92, 1);
}
